html {
    font-size: clamp(1rem, calc(1.2rem + 2vw), 1.625rem);
    background-color: #ebd77e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
    display: flex;
    gap: 20px;
    background-color: #eb922c;
    justify-content: space-between;
}

header img {
    width: 5rem;
    height: auto;
}

header ul {
    display: flex;
    font-size: 0.67rem;
    text-align: end;
    color: rgb(255, 255, 255);
}

header ul li:hover {
    color: rgb(146, 53, 10);
}

header ul li {
    padding: 1vw 2vw 1vw 2vw
}
main nav.coisas{
    display: flex;
}
section{

    background-color: rgb(255, 255, 255);
    border-radius: 47px;
    margin: 2vw;
}
section.topicos {
    background-color: #eb922c;
}
section.topicos ul li{
    padding: 2.7vw;
    margin: 2.7vw;
    background-color: white;
    border-radius: 3vw;
    font-size: small;
}
p {
    color: rgb(146, 53, 10);
}
h1 {
    color: rgb(146, 53, 10);
}
h2 {
    color: rgb(146, 53, 10);
}

section.topicos ul li a img {
    width: 60vw;
}

section.primeiro h1{
    padding: 2vw 5vw 7vw 2vw;
    font-size: larger;
    font-weight: bolder;
    font-style: oblique;
}
section.primeiro{
padding: 10px 20px 10px 20px;
}
section.primeiro p{
    padding: 3vw 0 3px 0;
}
section.primeiro ul {
    display: flex;
}
footer{
    background-color: #eb922c;
    text-align: center;
}
footer a img{
    width: 1rem;
    height: auto;
}
footer p{
    font-weight: lighter;
    font-size: small;
    
}
section.nos {
    padding: 10vw
}
section.nos ul{
    display: flex;
    justify-content: space-between;
    font-family: Oswald;
}
